# ═══════════════════════════════════════════════════
# WINDOWS-МУСОР
# ═══════════════════════════════════════════════════
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# ═══════════════════════════════════════════════════
# РЕДАКТОРЫ / IDE
# ═══════════════════════════════════════════════════
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# ═══════════════════════════════════════════════════
# DOCKER — ядро WP тут
# ═══════════════════════════════════════════════════
/.srv/*
!/.srv/custom.ini



# ═══════════════════════════════════════════════════
# ПЛАГИНЫ: игнорируем всё, кроме своих
# ═══════════════════════════════════════════════════
/plugins/*



# ═══════════════════════════════════════════════════
# ТЕМЫ: игнорируем всё, кроме своих
# ═══════════════════════════════════════════════════
/themes/*

!/themes/custom/

/themes/twentytwenty*/

# ═══════════════════════════════════════════════════
# NODE / REACT-СБОРКА
# ═══════════════════════════════════════════════════
node_modules/
/plugins/blocks-game-store/build/
/themes/*/build/
/themes/*/dist/

# ═══════════════════════════════════════════════════
# ЛОГИ
# ═══════════════════════════════════════════════════
*.log
npm-debug.log*
yarn-debug.log*
